

header { 
    /* 헤더 태그에 배경색 노란색 설정 */
    background-color : yellow;
}

header h1 {
    /* h1 태그에 가운데 정렬 */
    text-align: center;
}
section {
    /* 섹션태그에 색상 설정, 마진을 왼쪽에줘서 살짝 띄움 */
    background-color : pink;
    margin-left: 10px;
}

footer{
    /* 푸터태그에 패딩탑을 조금 줘서 색션 태그와 간격 조절
       배경색 : 마젠타
       높이 100px;
        */
    padding-top : 5px;
    background-color : magenta;
    height: 100px;
}

body {
    margin : 0px;
    /* 바디태그에 마진 0px */
}